.archives .main__content ul {
  font-size: 19px;
  margin-top: 40px;
  list-style-type: square;
}

.archives .main__content li {
  margin-bottom: 30px;
}

.archives .main__content li p {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 16px;
}

@media all and (max-width: 1024px) and (min-width: 769px) { 
  .archive__content {
    width: 640px;
  }
}

@media all and (max-width: 768px) and (min-width: 641px) { 
  .archive__content {
    width: 600px;
  }
}

@media all and (max-width: 640px) and (min-width: 481px) { 
  .archive__content {
    width: 480px;
  }
}

@media all and (max-width: 480px) { 
  .archive__content {
    width: 320px;
  }
}
