.menu {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  will-change: transform;
  transition: transform 0.33s cubic-bezier(0, 0, 0.30, 1);
  z-index: 2;
  transform: none;
  padding-right: 20px;
  font-family: "Roboto", san-serif;
}

.menu li a {
  font-weight: 400;
}

.menu__overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  transition: opacity 0.15s cubic-bezier(0, 0, 0.30, 1);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.menu__logo {
  display: none;
}

.menu.menu--show {
  transform: translateX(0);
}

.menu__icon {
  display: none;
  width: 48px;
  height: 48px;
  margin: 4px;
  cursor: pointer;
}

.menu__icon:active {
  outline: 1px solid #ccc;
}

.menu__icon img {
  width: 24px;
  height: 24px;
}

.menu__icon img:active {
  outline: 0;
}

@media all and (max-width: 480px) { 
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 280px;
    box-shadow: 1px -1px 2px 2px rgba(0, 0, 0, 0.13);
    transform: translateX(-102%);
    display: block;
  }

  .menu li {
    height: 30px;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .menu li:first-child {
    font-size: 18px;
    margin-top: 10px;
    height: 30px;
  }

  .menu li a {
    border-bottom: 0;
    color: #000;
    display: block;
    width: inherit;
    height: 40px;
    line-height: 45px;
    padding-left: 20px;
  }

  .menu li a {
    color: #000;
  }

  .menu li:first-child a {
    color: #212121;
    font-size: 22px;
  }

  .menu li a:active {
    background: #e7e7e7;
  }

  .menu__icon {    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu__logo {
    display: block;
  }

  .menu__overlay--show {
    visibility: visible;
    opacity: 1;
  }
}
