.modal,
.modal iframe,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
}

.modal__hide {
  display: none;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 9998;
}

.modal__close {
  position: fixed;
  right: 20px;
  top: 80px;
  width: 20px;
  height: 20px;
  z-index: 9999;
  cursor: pointer;
}

.modal iframe {
  width: 600px;
  height: 600px;
}

#submit {
  
}

@media all and (max-width: 768px) and (min-width: 481px) {
  .modal iframe {
    width: 80%;
    height: 80%;
  }
}

@media all and (max-width: 480px) {
  .modal iframe {
    width: 80%;
    height: 80%;
  }
}
