<div class="newsletter__container">
  <div class="newsletter">
    <h3>subscribe to our monthly newsletter</h3>
    <form action="//tips.us15.list-manage.com/subscribe/post?u=05ad32d0bc2eec161ad0f998b&amp;id=1b19be63b3" method="post" target="_blank">
      <input class="email-address" name="EMAIL" type="email" id="mce-EMAIL" placeholder="Your Email Address" required/>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_05ad32d0bc2eec161ad0f998b_1b19be63b3" tabindex="-1" value=""></div>
      <input class="submit-btn" id="mc-embedded-subscribe" type="submit" value="Submit"/>
    </form>
  </div>
  <p class="newsletter__info">Read about latest PWA's, Brower updates, new API's and its improvements in your inbox or <a href="#" id="submit">Submit</a>.</p>
</div>
