<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% seo %}
  <meta name="theme-color" content="#212121">
  <meta name="msapplication-TileColor" content="#212121">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="{{ site.title | escape }}">
  <meta name="application-name" content="{{ site.title | escape }}">
  <meta name="msapplication-TileImage" content="{{ "" | prepend: site.baseurl }}">
  <meta name="google-site-verification" content="" />
  <link rel=icon sizes="192x192" href="{{ "" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{ "" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Product+Sans|Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
