<header>
  <div class="logo">
    <div class="menu__icon">
      <img class="menu__icon" src="../images/menu_black.svg" alt="Menu"/>
    </div>
    <a href="/"><h1 class="title">PWA Tips</h1></a>
  </div>
  <ul class="menu">
    <li class="menu__logo"><a href="/"><h1 class="title">PWA Tips</h1></a></li>
    <li><a href="/" {% if page.active == "default" %} class="active" {% endif %}>Newsletter</a></li>
    <li><a href="/codelabs" {% if page.active == "codelabs" %} class="active" {% endif %}>Codelabs</a></li>
    <li><a href="/opensources" {% if page.active == "opensources" %} class="active" {% endif %}>Open Sources</a></li>
  </ul>
  <div class="menu__overlay"></div>
</header>
