// Colors
$color-primary: #3173e0;
$color-secondary: #212121;
$color-primary-hover: rgba(49, 115, 224, 0.78);
$color-white: #fff;
$color-grey: #F1F3F4;

// Fonts
$font-weight-normal: 400;
$font-weight-bold: 500;

// Border-raduis
$border-radius-card: 8px;
