<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{page.active}}">
    {% include header.html %}

    <section class="main__content">
      <h3>Archives</h3>
      <div class="archive__content wrapper">
        <div class="card__container">
        {% for post in site.posts %}
          <div class="cards">
            <h3><a href="{{ post.url }}">{{ post.title }} #{{post.number}}</a></h3>
            <span class="cards__date">{{post.date | date_to_string }}</span>
            <p>{{post.description}}</p>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>

    <section></section>

    {% include footer.html %}
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
