<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{page.active}}">
    {% include header.html %}

    <section class="header__section">
      {% include form.html %}
    </section>
    
    <section class="main__section">
      <div class="wrapper">
        <h2>What is a Progressive Web Application?</h2>
        <div class="card__container">
          <div class="cards">
            <h3>Reliable</h3>
            <p>Load instantly and never show the downasaur, even in uncertain network conditions.</p>
          </div>
          <div class="cards">
            <h3>Fast</h3>
            <p>Respond quickly to user interactions with silky smooth animations and no janky scrolling.</p>
          </div>
          <div class="cards">
            <h3>Engaging</h3>
            <p>Feel like a natural app on the device, with an immersive user experience.</p>
          </div>
        </div>
        <div class="know__more">
          <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Know more</a>
        </div> 
      </div>
    </section>

    <section class="sub__section">
      <h2>Latest Issue</h2>
      {% assign post = site.posts.first %}
      <p>{{post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }} #{{post.number}}</a></p>
      <p>{{post.description}}</p>
    </section>
    
    {% include footer.html %}
    
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
