<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    
    <section class="header__section">
      <div class="card__container">
        <h2>What is a Progressive Web Application?</h1>
        <div class="cards">
          <h3>Reliable</h3>
          <p>Load instantly and never show the downasaur, even in uncertain network conditions.</p>
        </div>
        <div class="cards">
          <h3>Fast</h3>
          <p>Respond quickly to user interactions with silky smooth animations and no janky scrolling.</p>
        </div>
        <div class="cards">
          <h3>Engaging</h3>
          <p>Feel like a natural app on the device, with an immersive user experience.</p>
        </div>
      </div>
      {% include form.html %}
    </section>
    
    <section class="main__section">
    </section>
    
    <section></section>
    
    {% include footer.html %}
    
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
