<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="{{page.active}}">
    {% include header.html %}

    <section class="header__section">
      {% include form.html %}
    </section>
    
    <section class="main__section">
      <div class="wrapper">
        <h2>What is a Progressive Web Application?</h2>
        <div class="card__container">
          <div class="cards">
            <h3>Reliable</h3>
            <p>Load instantly and never show the downasaur, even in uncertain network conditions.</p>
            <!-- <img class="reliable" src="{{ "../images/reliable.png" | prepend: site.baseurl }}" alt="Reliable"> -->
          </div>
          <div class="cards fast">
            <h3>Fast</h3>
            <p>Respond quickly to user interactions with silky smooth animations and no janky scrolling.</p>
            <!-- <img class="fast" src="{{ "../images/fast.png" | prepend: site.baseurl }}" alt="Fast"> -->
          </div>
          <div class="cards engaging">
            <h3>Engaging</h3>
            <p>Feel like a natural app on the device, with an immersive user experience.</p>
            <!-- <img class="engaging" src="{{ "../images/engaging.png" | prepend: site.baseurl }}" alt="Engaging"> -->
          </div>
        </div>
        <div class="know__more">
          <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Know more</a>
        </div> 
      </div>
    </section>

    <section class="main__section codelabs__section">
      <div class="wrapper">
        <h2>Learn how to build a Progressive Web Application</h2>
        <div class="card__container">
        <div class="cards">
          <h3>PWA Codelabs</h3>
          <p>Learn and build your first progressive web application.</p>
          <div class="know__more">
            <a href="https://pwa.tips/codelabs/" target="_blank">Get Started</a>
          </div>
        </div>
      </div>
      </div>
    </section>
    
    {% if site.posts.first %}
    <section class="sub__section">
      <h2>Latest Issue</h2>
      {% assign post = site.posts.first %}
      <p class="sub__section-title"><a href="{{ post.url }}">{{ post.title }} #{{post.number}}</a></p>
      <p class="sub__section-date"><time>{{post.date | date_to_string }}</time></p>
      <p class="sub__section-desc">{{post.description}}</p>
      <div class="wrapper sub__section-content">
        <p>{{post.content}}</p>
      </div>
    </section>
    {% endif %}
    
    {% include footer.html %}
    
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
