<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section class="main__content">
      <h2>Open Sources</h1>
      <div class="card__container">
        <div class="cards">
          <!-- <img src="https://raw.githubusercontent.com/code-kotis/barcode-scanner/master/logo.png" alt="QR Code Scanner"> -->
          <h3><a href="https://qrcodescan.in" target="_blank">QR Code Scanner</a></h3>
          <p>A simple, fast and useful progressive web application.</p>
          <a class="cards__link" href="https://qrcodescan.in" target="_blank">Link</a>
        </div>
        <div class="cards">
          <h3><a href="https://github.com/code-kotis/react-floating-label" target="_blank">React Floating Label</a></h3>
          <p>A material design styled floating label input react component.</p>
          <a class="cards__link" href="https://github.com/code-kotis/react-floating-label" target="_blank">Link</a>
        </div>
        <div class="cards">
          <h3><a href="https://pwa.tips/codelabs/" target="_blank">PWA Codelabs</a></h3>
          <p>Learn and build your first progressive web application.</p>
          <a class="cards__link" href="https://pwa.tips/codelabs/" target="_blank">Link</a>
        </div>
      </div>
    </section>
    
    {% include footer.html %}
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
